<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
  <nav class="navbar">
    <h1>Glow</h1>
    <ul>
      <li>Products</li>
      <li>About</li>
      <li>Blog</li>
      <li>Reviews</li>
    </ul>
    <div class="shopping-bag"></div>
  </nav>

  <div class="hero--section">
    <div class="hero--section__left">
      <h3>Let your skin Going Out.</h3>
      <p>
        We want to bring to the world through our products that very special
        feeling joy, healthy and positive energy.
      </p>

      <div class="cta">
        <button class="cta-button">Shop Now →</button>
        <p>► How to use</p>
      </div>
    </div>
    <div class="hero--section__right"></div>
  </div>
</div>
