<div>
  <div class="header">
    <nav class="navbar">
      <h1>Glow</h1>
      <div class="nav-links">
        <ul>
          <li>Products</li>
          <li>About</li>
          <li>Blog</li>
          <li>Reviews</li>
        </ul>
        <div class="shopping-bag">
          <img src="assets/cart.svg" alt="shopping bag" />
          <span>1</span>
        </div>
      </div>
    </nav>

    <div
      class="hero--section animate__animated animate__slower animate__bounceInRight"
    >
      <div class="hero--section__left">
        <h3>Let your skin Going Out.</h3>
        <p>
          We want to bring to the world through our products that very special
          feeling joy, healthy and positive energy.
        </p>

        <div class="cta">
          <button class="cta-button">Shop Now →</button>
          <p>► How to use</p>
        </div>
      </div>
      <div class="hero--section__right">
        <img src="../assets/personal-care-01.png" />
      </div>
    </div>
  </div>

  <div class="section--one">
    <div class="section--one__left" data-aos="zoom-in-right">
      <img src="../assets/curology-3-set.jpeg" />

      <div class="circle">
        <svg viewBox="0 0 100 100" width="140" height="140">
          <defs>
            <path
              id="circle"
              d="
            M 50, 50
            m -37, 0
            a 37,37 0 1,1 76,0
            a 37,37 0 1,1 -76,0"
            />
          </defs>
          <text font-size="13">
            <textPath xlink:href="#circle">
              Explore your product - Explore your product-
            </textPath>
          </text>
        </svg>
      </div>
    </div>
    <div class="section--one__right" data-aos="zoom-in-left">
      <img src="../assets/new.svg" alt="" class="new" />
      <div class="video--container">
        <img src="../assets/play-.svg" alt="" class="play" />
        <img src="../assets/curolog-in-use.jpeg" class="video" />
      </div>
      <div>
        <h2>
          The self care brand that's <br />setting a new
          <span
            >standard<br />
            Clean</span
          >
          products.
        </h2>
        <div class="group--texts">
          <div class="group--text">
            <p class="title">Where are products made?</p>
            <p class="text">
              Many brands, especially in period care, carry products that takes
              centuries
            </p>
          </div>
          <div class="group--text">
            <p class="title">Where are products made?</p>
            <p class="text">
              Many brands, especially in period care, carry products that takes
              centuries
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="products--section">
    <div
      class="product--list"
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
    >
      <div
        class="text-content"
        data-aos="fade-down-left"
        data-aos-duration="3000"
      >
        <h3>Trending On <span>Essentials</span></h3>
        <p>
          Made with nature's best ingredients - our products' transparent
          ingredient. Fear of God Essentials.
        </p>
        <button>Browse all products →</button>
      </div>
      <div class="product--list__item" *ngFor="let product of products">
        <div class="product--image">
          <img src="{{ product.image }}" />
        </div>
        <div class="actions">
          <div class="cart">
            <svg
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              width="395.025px"
              height="395.025px"
              viewBox="0 0 395.025 395.025"
              style="enable-background: new 0 0 395.025 395.025"
              xml:space="preserve"
            >
              <g>
                <path
                  d="M357.507,380.982L337.914,82.223c-0.431-6.572-5.887-11.682-12.473-11.682h-54.69V62.5c0-34.462-28.038-62.5-62.5-62.5
		h-21.495c-34.462,0-62.5,28.038-62.5,62.5v8.041h-54.69c-6.586,0-12.042,5.11-12.473,11.682L37.45,381.709
		c-0.227,3.449,0.986,6.838,3.35,9.361c2.364,2.525,5.666,3.955,9.124,3.955h295.159c0.007,0,0.013,0,0.02,0
		c6.903,0,12.5-5.596,12.5-12.5C357.601,382.004,357.57,381.488,357.507,380.982z M149.255,62.5c0-20.678,16.822-37.5,37.5-37.5
		h21.495c20.678,0,37.5,16.822,37.5,37.5v8.041h-96.495V62.5z M63.27,370.025L81.272,95.542h42.983v11.154
		c-8.895,4.56-15,13.818-15,24.482c0,15.164,12.336,27.5,27.5,27.5s27.5-12.336,27.5-27.5c0-10.664-6.105-19.922-15-24.482V95.542
		h96.495v11.154c-8.896,4.56-15,13.818-15,24.482c0,15.164,12.336,27.5,27.5,27.5s27.5-12.336,27.5-27.5
		c0-10.664-6.105-19.922-15-24.482V95.542h42.983l18.002,274.483H63.27z"
                />
              </g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
            </svg>
          </div>
          <div class="heart">
            <svg
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 485.3 485.3"
              style="enable-background: new 0 0 485.3 485.3"
              xml:space="preserve"
            >
              <g>
                <g>
                  <g>
                    <path
                      d="M349.6,28.95c-36.3,0-70.5,14.2-96.2,39.9l-10.6,10.6L232,68.65c-25.7-25.7-59.9-39.9-96.2-39.9
				c-36.2,0-70.3,14.1-96,39.8S0,128.35,0,164.65s14.2,70.4,39.9,96.1l190.5,190.5l0.4,0.4c3.3,3.3,7.7,4.9,12,4.9
				c4.4,0,8.8-1.7,12.1-5l190.5-190.5c25.7-25.7,39.9-59.8,39.9-96.1s-14.1-70.5-39.8-96.1C419.9,43.05,385.8,28.95,349.6,28.95z
				 M421.2,236.75l-178.3,178.4L64.2,236.45c-19.2-19.2-29.8-44.7-29.9-71.9c0-27.1,10.5-52.6,29.7-71.8
				c19.2-19.1,44.7-29.7,71.7-29.7c27.2,0,52.7,10.6,72,29.9l22.9,22.9c6.4,6.4,17.8,6.4,24.3,0l22.8-22.8
				c19.2-19.2,44.8-29.8,71.9-29.8s52.6,10.6,71.8,29.8c19.2,19.2,29.8,44.7,29.7,71.9C451.1,192.05,440.5,217.55,421.2,236.75z"
                    />
                  </g>
                </g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
              </g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
            </svg>
          </div>
        </div>
        <p class="product--name">{{ product.name }}</p>
        <p class="product--price">{{ product.price | currency }}</p>
      </div>
    </div>
  </div>

  <div
    class="review--section"
    data-aos="zoom-in-right"
    data-aos-duration="3000"
  >
    <div class="review--section__left" data-aos="zoom-in-right">
      <h3>We make going all natural <span>Beauty</span>.</h3>
      <p>
        Made with nature's best ingredients - our products' transparent
        ingredient. Fear of God Essentials.
      </p>

      <div class="reviews">
        <div class="review" *ngFor="let review of reviews">
          <p class="title">{{ review.title }}</p>
          <p class="number">{{ review.number }}</p>
        </div>
      </div>

      <div class="customer--image" data-aos="zoom-in-up">
        <img src="../assets/beautiful-brunette.png" />
      </div>
    </div>
  </div>

  <div class="faq--section">
    <div class="faq--section__left" data-aos="zoom-out-down">
      <img src="../assets/curology-3.jpeg" />
    </div>

    <div
      class="faq--section__right"
      data-aos="zoom-in-right"
      data-aos-duration="2000"
    >
      <h3>You have <span>questions,</span> we have answers.</h3>
      <div class="faqs">
        <div class="faq" *ngFor="let faq of faqs; let i = index">
          <div class="faq--header" (click)="handleOpenFaq(i)">
            <div class="faq--question">{{ faq.question }}</div>
            <img *ngIf="selectedIndex !== i" src="../assets/plus.svg" />
            <img *ngIf="selectedIndex === i" src="../assets/minus.svg" />
          </div>

          <p class="faq--answer" *ngIf="isOpen && selectedIndex === i">
            {{ faq.answer }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="slider--section">
    <div class="slider">
      <img class="quote" src="../assets/left-quote.svg" />

      <p>
        The UK jewellery awards is an event we always look forward to and we are
        so honoured to be recognised.
      </p>

      <div class="details">
        <p class="name">Jane Cooper</p>
        <p class="country">Napeville, USA</p>
      </div>

      <div class="dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
    <div class="slider--image" data-aos="zoom-in-up" data-aos-duration="3000">
      <img src="../assets/personal-care-01.png" class="image" />
    </div>
  </div>

  <div style="position: relative">
    <div class="trusted--brands">
      <div class="brands">
        <img
          src="../assets/calvin-klein-cosmetics.png"
          class="animate__animated animate__fadeInRightBig"
        />
        <img
          src="../assets/curology-logo.png"
          class="animate__animated animate__fadeInRightBig"
        />
        <img
          src="../assets/calvin-klein-cosmetics.png"
          class="animate__animated animate__fadeInRightBig"
        />
        <img
          src="../assets/curology-logo.png"
          class="animate__animated animate__fadeInRightBig"
        />

        <img
          src="../assets/calvin-klein-cosmetics.png"
          class="animate__animated animate__fadeInRightBig"
        />
      </div>
    </div>

    <div class="use--case">
      <div class="case" data-aos="zoom-in-left" data-aos-duration="3000">
        <img src="../assets/curolog-in-use.jpeg" />
      </div>
      <div class="case" data-aos="zoom-in-left" data-aos-duration="3000">
        <img src="../assets/curology.jpeg" />
      </div>
      <div class="case" data-aos="zoom-in-left" data-aos-duration="3000">
        <img src="../assets/curology-2.jpeg" />
      </div>
      <div class="check--us" data-aos="zoom-in-left" data-aos-duration="3000">
        <img src="../assets/instagram.svg" />
        <p>Join us and get all services we provide.</p>
        <button>→</button>
      </div>
    </div>

    <div class="footer--section">
      <div
        class="footer--items animate__animated animate__bounceInDown animate__slower"
      >
        <div class="glow">
          <h1>Glow</h1>
          <p>
            Keep Up With Our New Releases, Beauty Tips And What Emma's Been Up
            To.
          </p>

          <div class="socials">
            <a href="https://www.facebook.com/curology">
              <img src="../assets/facebook.svg" />
            </a>
            <a href="https://www.instagram.com/curology">
              <img src="../assets/instagram.svg" />
            </a>
            <a href="https://www.twitter.com/curology">
              <img src="../assets/twitter.svg" />
            </a>
            <a href="https://www.linkedin.com/curology">
              <img src="../assets/linkedin.svg" />
            </a>
          </div>
        </div>

        <div class="company">
          <h2>Company</h2>
          <ul>
            <li>About</li>
            <li>Jobs</li>
            <li>Branding</li>
            <li>Newsroom</li>
          </ul>
        </div>
        <div class="resources">
          <h2>Resources</h2>
          <ul>
            <li>College</li>
            <li>Support</li>
            <li>Safety</li>
            <li>Streamkit</li>
          </ul>
        </div>
        <div class="terms">
          <h2>Terms & Condition</h2>
          <ul>
            <li>Policy</li>
            <li>FAQ</li>
            <li>Return & Delivery</li>
            <li>Tracking</li>
          </ul>
        </div>
        <div class="subscribe">
          <h2>Subscribe</h2>
          <p>Get 10% off your first order.</p>

          <div class="form">
            <input type="text" placeholder="Enter your email" />
            <div class="send--button">
              <img src="../assets/send.svg" width="30px" />
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        Copyright &copy; 2022 Musemind | All rights rreserved.
      </div>
    </div>
  </div>
</div>
